body {
    background-color: #eee;
}

h4 {
    color: rgb(139, 139, 139);
}

.card {
    border: none;
    border-radius: 10px;
}

.c-details span {
    font-weight: 300;
    font-size: 13px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
}

.badge span {
    background-color: #5b76f2 !important;
    width: 120px !important;
    height: 34px !important;
    padding: 5px !important;
    border-radius: 5px !important;
    font-size: 13px !important;
    display: flex;
    color: #fafafa !important;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 10px;
    border-radius: 10px;
}

.progress div {
    background-color: red;
}

.text0 {
    font-size: 20px !important;
    font-weight: 300;
    color: rgb(57 57 196 / 73%);
}

.text1 {
    font-size: 18px !important;
    font-weight: 600;
}

.text2 {
    font-size: 18px !important;
    font-weight: 600;
    color: #a5aec0;

}