body {
    background-color: #eee;
}

.card {
    border: none;
    border-radius: 10px;
}

.c-details span {
    font-weight: 300;
    font-size: 13px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
}

.badge span {
    background-color: #5b76f2;
    width: 120px;
    height: 34px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    color: #fafafa;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 10px;
    border-radius: 10px;
}

.progress div {
    background-color: red;
}

.text0 {
    font-size: 18px !important;
    font-weight: 400;
    color: rgba(73, 73, 221, 0.733);
}

.text1 {
    font-size: 18px !important;
    font-weight: 600;
}

.text2 {
    font-size: 18px !important;
    font-weight: 600;
    color: #a5aec0;

}